* {
	box-sizing: border-box;
}

/*RESETS*/

html, body, h1, h2, p, ul, li, a {
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
}



/*LAYOUT*/

.site {
	width: 1200px;
	height: 900px;
	background-color: #fff; /*weis*/
	box-shadow: 2px 2px 5px rgba(0,0,0,1); /*Schatten*/
	margin: 50px auto 0px auto; /*position*/
	padding: 48px 60px 48px 60px; /*nach innen geschrumpft*/
}

body {
	background-color: #CECECE;
}



/*TYPO*/

h1 {
	font-size: 18px;
	font-weight: bold;
	margin: 0px 0px 20px 0px;
}

h2 {
	font-size: 18px;
	font-weight: normal;
	margin: 40px 0px 20px 0px;
}

a {
	color:rgb(150,150,150); /*farbe für links geändert*/

}




@font-face {
    font-family: 'UniversLight';
    src: url('UniversLTStd-Light.otf');
}
@font-face {
    font-family: 'UniversBold';
    src: url('UniversLTStd-Bold.otf');
}


.ueberschrift1 {
	width: 1080px;
	height: 30px;
	/*da die elemente nicht nebeneinander stehen müssen
	brauchen wir hier keine floats*/
	/*float: left;*/
	font-size: 30px;
	font-family: 'UniversBold', arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	line-height: 20px;
}
.ueberschrift2 {
	width: 1080px;
	height: 101px;
	/*da die elemente nicht nebeneinander stehen müssen
	brauchen wir hier keine floats*/
	/*float: left;*/
	font-size: 28px;
	font-family: 'UniversLight', arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	line-height: 20px;
}

.infotext {
	color: rgb(0,0,0);
	font-size: 11px;
	line-height: 14px;
	margin: 20px 0px 20px 60px; 
}

.infotextdick {
	font-family: 'UniversBold', arial, sans-serif;
	margin: 20px auto auto auto; 
}

.normaltext {
	margin: 20px auto auto auto; 
}

.gewinnereingerueckt {
	margin: auto auto auto 35px;
}



/*GRID*/


.ersteSpalte {
	width: 278px;
}

.zweiteSpalte {
	width: 0px;
}

.dritteSpalte {
	width: 277px;
}

.vierteSpalte {
	width: 525px;
}

.ersteSpalte, .zweiteSpalte, .dritteSpalte, .vierteSpalte {
	height: 665px;
	float: left;
	font-size: 13px;
	line-height: 19px;
	font-family: 'UniversLight', arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	color: rgb(150,150,150);
}

.abstand {
	margin: auto auto auto 30px;
}



/*HOVER*/

a:hover {
	color:black; /*drüberfahren*/
	font-weight: 900;

}

a:active {
	color:rgb(206,0,29); /*beimklicken*/
	font-family: 'UniversBold', arial, sans-serif;
}



/* Clear floats*/
.clearFloat {
	clear: both;
}




/*KLICK*/

/*Disziplinen*/


.disziplinenA {
	visibility: visible !important; /*wenn in url dann sichtbar*/
	opacity: 1 !important;
	transition: 0.6s opacity;
}

.dritteSpalte {
	visibility: hidden ; /*normal unsichtbar*/
	opacity: 0;
	transition: 0.6s opacity; /*immer in vorhandenem element*/
}



.disziplinenW {
	visibility: visible !important; /*wenn in url dann sichtbar*/
	opacity: 1 !important;
	transition: 0.6s opacity;
}

.dritteSpalte {
	visibility: hidden ; /*normal unsichtbar*/
	opacity: 0;
	transition: 0.6s opacity; /*immer in vorhandenem element*/
}




/*Unterdisziplinen*/

.WdisTud {
	visibility: visible !important; /*wenn in url dann sichtbar*/
	opacity: 1 !important;
	transition: 0.6s opacity;
}

.vierteSpalte {
	visibility: hidden ; /*normal unsichtbar*/
	opacity: 0;
	transition: 0.6s opacity; /*immer in vorhandenem element*/
}





/*Unterdisziplinen*/


.udrudern {
	visibility: visible!important; /*wenn in url dann sichtbar*/
	opacity: 1!important;
	transition: 0.6s opacity;
}

.vierteSpalte {
	visibility: hidden ; /*normal unsichtbar*/
	opacity: 0;
	transition: 0.6s opacity; /*immer in vorhandenem element*/
}





/*NACH KLICK*/

.hervorheben {
	font-size: 18px;
	font-family: 'UniversBold', arial, sans-serif;
	color: rgb(206,0,29);
}

.hervorheben2 {
	font-size: 18px;
	margin: 40px auto 40px 20px !important; 
	font-family: 'UniversBold', arial, sans-serif;
	color: rgb(206,0,29);
}

.addMargin {
	margin-top: 20px;
	margin-bottom: 20px;
}


.addMarginzwei {
	margin-bottom: 20px;
}


