* {
	box-sizing: border-box;
}

/*RESETS*/

html, body, h1, h2, p, ul, li, a {
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
}



/*LAYOUT*/

.site {
	width: 1200px;
	height: 900px;
	background-color: #fff; /*weis*/
	box-shadow: 2px 2px 5px rgba(0,0,0,1); /*Schatten*/
	margin: 50px auto 0px auto; /*position*/
	padding: 48px 60px 48px 60px; /*nach innen geschrumpft*/
}

body {
	background-color: #CECECE;
}



/*TYPO*/

h1 {
	font-size: 18px;
	font-weight: bold;
	margin: 0px 0px 20px 0px;
}

h2 {
	font-size: 18px;
	font-weight: normal;
	margin: 40px 0px 20px 0px;
}

a {
	color:black; /*rgb(150,150,150)farbe für links geändert*/

}




@font-face {
    font-family: 'UniversLight';
    src: url('UniversLTStd-Light.otf');
}
@font-face {
    font-family: 'UniversBold';
    src: url('UniversLTStd-Bold.otf');
}


.ueberschrift1 {
	width: 1080px;
	height: 25px;
	/*da die elemente nicht nebeneinander stehen müssen
	brauchen wir hier keine floats*/
	/*float: left;*/
	font-size: 25px;
	font-family: 'UniversBold', arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	line-height: 20px;
}
.ueberschrift2 {
	width: 1080px;
	height: 101px;
	/*da die elemente nicht nebeneinander stehen müssen
	brauchen wir hier keine floats*/
	/*float: left;*/
	font-size: 23px;
	font-family: 'UniversLight', arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	line-height: 20px;
}

.infotext {
	color: rgb(0,0,0);
	font-size: 11px;
	line-height: 14px;
	margin: 20px 0px 20px 60px; 
}

.infotextdick {
	font-family: 'UniversBold', arial, sans-serif;
	margin: 20px auto auto auto; 
}

.normaltext {
	margin: 20px auto auto auto; 
}

.gewinnereingerueckt {
	margin: auto auto auto 35px;
}



/*GRID*/


.ersteSpalte {
	width: 258px;
}

.zweiteSpalte {
	width: 0px;
}

.dritteSpalte {
	width: 227px;
}

.vierteSpalte {
	width: 595px;
}

.ersteSpalte, .zweiteSpalte, .dritteSpalte, .vierteSpalte {
	height: 665px;
	float: left;
	font-size: 13px;
	line-height: 19px;
	font-family: 'UniversLight', arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	/*color: black; /*150/150/150*/
}

.abstand {
	margin: auto auto auto 30px;
}

.ersteSpalte, #disziplinen, #unterdisziplinen { /*__________________________________________*/
	float: left;
}



/*HOVER*/

a:hover {													/*color:black; /*drüberfahren*/
	font-weight: 900;
	color:rgb(206,0,29);
}

a:active {
	color:rgb(206,0,29); 									/*beimklicken*/
	font-family: 'UniversBold', arial, sans-serif;
}



/* Clear floats*/
.clearFloat {
	clear: both;
}




/*KLICK*/

/*Disziplinen*/


.dritteSpalte {
	visibility: hidden ; /*normal unsichtbar*/
	opacity: 0;
	transition: 0.6s opacity; /*immer in vorhandenem element*/
}

.dritteSpalteA {
	visibility: visible;  /*normal unsichtbar*/
	opacity: 1;
	transition: 0.6s opacity; /*immer in vorhandenem element________________________________________________*/
}
.dritteSpalteB {
	visibility: visible; 
	opacity: 1;
	transition: 0.6s opacity;
}
.dritteSpalteC {
	visibility: visible; 
	opacity: 1;
	transition: 0.6s opacity;
}

.dritteSpalteD {
	visibility: visible !important; /*wenn in url dann sichtbar*/
	opacity: 1 !important;
	transition: 0.6s opacity;
}
.dritteSpalteE {
	visibility: visible !important; /*wenn in url dann sichtbar*/
	opacity: 1 !important;
	transition: 0.6s opacity;
}
.dritteSpalteF {
	visibility: visible !important; /*wenn in url dann sichtbar*/
	opacity: 1 !important;
	transition: 0.6s opacity;
}
.dritteSpalteG {
	visibility: visible !important; /*wenn in url dann sichtbar*/
	opacity: 1 !important;
	transition: 0.6s opacity;
}
.dritteSpalteH {
	visibility: visible !important; /*wenn in url dann sichtbar*/
	opacity: 1 !important;
	transition: 0.6s opacity;
}
.dritteSpalteI {
	visibility: visible !important; /*wenn in url dann sichtbar*/
	opacity: 1 !important;
	transition: 0.6s opacity;
}
.dritteSpalteJ {
	visibility: visible !important; /*wenn in url dann sichtbar*/
	opacity: 1 !important;
	transition: 0.6s opacity;
}
.dritteSpalteK {
	visibility: visible !important; /*wenn in url dann sichtbar*/
	opacity: 1 !important;
	transition: 0.6s opacity;
}
.dritteSpalteL {
	visibility: visible !important; /*wenn in url dann sichtbar*/
	opacity: 1 !important;
	transition: 0.6s opacity;
}
.dritteSpalteM {
	visibility: visible !important; /*wenn in url dann sichtbar*/
	opacity: 1 !important;
	transition: 0.6s opacity;
}
.dritteSpalteN {
	visibility: visible !important; /*wenn in url dann sichtbar*/
	opacity: 1 !important;
	transition: 0.6s opacity;
}
.dritteSpalteO {
	visibility: visible !important; /*wenn in url dann sichtbar*/
	opacity: 1 !important;
	transition: 0.6s opacity;
}
.dritteSpalteP {
	visibility: visible !important; /*wenn in url dann sichtbar*/
	opacity: 1 !important;
	transition: 0.6s opacity;
}
.dritteSpalteQ {
	visibility: visible !important; /*wenn in url dann sichtbar*/
	opacity: 1 !important;
	transition: 0.6s opacity;
}
.dritteSpalteR {
	visibility: visible !important; /*wenn in url dann sichtbar*/
	opacity: 1 !important;
	transition: 0.6s opacity;
}
.dritteSpalteS {
	visibility: visible !important; /*wenn in url dann sichtbar*/
	opacity: 1 !important;
	transition: 0.6s opacity;
}
.dritteSpalteT {
	visibility: visible !important; /*wenn in url dann sichtbar*/
	opacity: 1 !important;
	transition: 0.6s opacity;
}
.dritteSpalteU {
	visibility: visible !important; /*wenn in url dann sichtbar*/
	opacity: 1 !important;
	transition: 0.6s opacity;
}
.dritteSpalteV {
	visibility: visible !important; /*wenn in url dann sichtbar*/
	opacity: 1 !important;
	transition: 0.6s opacity;
}
.dritteSpalteW {
	visibility: visible !important; /*wenn in url dann sichtbar*/
	opacity: 1 !important;
	transition: 0.6s opacity;
}
.dritteSpalteX {
	visibility: visible !important; /*wenn in url dann sichtbar*/
	opacity: 1 !important;
	transition: 0.6s opacity;
}
.dritteSpalteY {
	visibility: visible !important; /*wenn in url dann sichtbar*/
	opacity: 1 !important;
	transition: 0.6s opacity;
}
.ddritteSpalteZ {
	visibility: visible !important; /*wenn in url dann sichtbar*/
	opacity: 1 !important;
	transition: 0.6s opacity;
}
.dritteSpalteAA {
	visibility: visible !important; /*wenn in url dann sichtbar*/
	opacity: 1 !important;
	transition: 0.6s opacity;
}
.dritteSpalteBB {
	visibility: visible !important; /*wenn in url dann sichtbar*/
	opacity: 1 !important;
	transition: 0.6s opacity;
}
.dritteSpalteCC {
	visibility: visible !important; /*wenn in url dann sichtbar*/
	opacity: 1 !important;
	transition: 0.6s opacity;
}
.dritteSpalteDD {
	visibility: visible !important; /*wenn in url dann sichtbar*/
	opacity: 1 !important;
	transition: 0.6s opacity;
}
.dritteSpalteEE {
	visibility: visible !important; /*wenn in url dann sichtbar*/
	opacity: 1 !important;
	transition: 0.6s opacity;
}
.dritteSpalteFF {
	visibility: visible !important; /*wenn in url dann sichtbar*/
	opacity: 1 !important;
	transition: 0.6s opacity;
}



/*Unterdisziplinen*/

.WdisTud {
	visibility: visible !important; /*wenn in url dann sichtbar*/
	opacity: 1 !important;
	transition: 0.6s opacity;
}

.vierteSpalte {
	visibility: hidden ; /*normal unsichtbar*/
	opacity: 0;
	transition: 0.6s opacity; /*immer in vorhandenem element*/
}







/*Unterdisziplinen*/


.udrudern {
	visibility: visible!important; /*wenn in url dann sichtbar*/
	opacity: 1!important;
	transition: 0.6s opacity;
}

.vierteSpalte {
	visibility: hidden ; /*normal unsichtbar*/
	opacity: 0;
	transition: 0.6s opacity; /*immer in vorhandenem element*/
}


.vierteSpalteA { /*_______________________________________________________________*/
	visibility: visible;
	opacity: 1;
	transition: opacity 0.6s;
}
.vierteSpalteB { 
	visibility: visible;
	opacity: 1;
	transition: opacity 0.6s;
}
.vierteSpalteC { 
	visibility: visible;
	opacity: 1;
	transition: opacity 0.6s;
}
.vierteSpalteD { 
	visibility: visible;
	opacity: 1;
	transition: opacity 0.6s;
}
.vierteSpalteE { 
	visibility: visible;
	opacity: 1;
	transition: opacity 0.6s;
}
.vierteSpalteF { 
	visibility: visible;
	opacity: 1;
	transition: opacity 0.6s;
}
.vierteSpalteG { 
	visibility: visible;
	opacity: 1;
	transition: opacity 0.6s;
}
.vierteSpalteH { 
	visibility: visible;
	opacity: 1;
	transition: opacity 0.6s;
}
.vierteSpalteI { 
	visibility: visible;
	opacity: 1;
	transition: opacity 0.6s;
}
.vierteSpalteJ { 
	visibility: visible;
	opacity: 1;
	transition: opacity 0.6s;
}
.vierteSpalteK { 
	visibility: visible;
	opacity: 1;
	transition: opacity 0.6s;
}
.vierteSpalteL { 
	visibility: visible;
	opacity: 1;
	transition: opacity 0.6s;
}
.vierteSpalteM { 
	visibility: visible;
	opacity: 1;
	transition: opacity 0.6s;
}
.vierteSpalteN { 
	visibility: visible;
	opacity: 1;
	transition: opacity 0.6s;
}
.vierteSpalteO { 
	visibility: visible;
	opacity: 1;
	transition: opacity 0.6s;
}
.vierteSpalteP { 
	visibility: visible;
	opacity: 1;
	transition: opacity 0.6s;
}
.vierteSpalteQ { 
	visibility: visible;
	opacity: 1;
	transition: opacity 0.6s;
}
.vierteSpalteR { 
	visibility: visible;
	opacity: 1;
	transition: opacity 0.6s;
}
.vierteSpalteS { 
	visibility: visible;
	opacity: 1;
	transition: opacity 0.6s;
}
.vierteSpalteT { 
	visibility: visible;
	opacity: 1;
	transition: opacity 0.6s;
}
.vierteSpalteU { 
	visibility: visible;
	opacity: 1;
	transition: opacity 0.6s;
}
.vierteSpalteV { 
	visibility: visible;
	opacity: 1;
	transition: opacity 0.6s;
}
.vierteSpalteW { 
	visibility: visible;
	opacity: 1;
	transition: opacity 0.6s;
}
.vierteSpalteX { 
	visibility: visible;
	opacity: 1;
	transition: opacity 0.6s;
}
.vierteSpalteY { 
	visibility: visible;
	opacity: 1;
	transition: opacity 0.6s;
}
.vierteSpalteZ { 
	visibility: visible;
	opacity: 1;
	transition: opacity 0.6s;
}
.vierteSpalteAA { 
	visibility: visible;
	opacity: 1;
	transition: opacity 0.6s;
}
.vierteSpalteBB { 
	visibility: visible;
	opacity: 1;
	transition: opacity 0.6s;
}
.vierteSpalteCC { 
	visibility: visible;
	opacity: 1;
	transition: opacity 0.6s;
}
.vierteSpalteDD { 
	visibility: visible;
	opacity: 1;
	transition: opacity 0.6s;
}
.vierteSpalteEE { 
	visibility: visible;
	opacity: 1;
	transition: opacity 0.6s;
}
.vierteSpalteFF { 
	visibility: visible;
	opacity: 1;
	transition: opacity 0.6s;
}





/*Margin*/

.addMargin {
	margin-top: 8px;
	margin-bottom: 8px;
}
.addMarginzwei {
	margin-bottom: 8px;
}




a, a:link { /*_______________________________________________________________________*/
	cursor: pointer;
}
.aneu a{
	color:rgb(150,150,150);
}


/*NACH KLICK*/

.hervorheben {
	font-size: 18px;
	font-family: 'UniversBold', arial, sans-serif;
	color: rgb(206,0,29) !important;
}

.hervorheben2 {
	font-size: 18px;
	font-family: 'UniversBold', arial, sans-serif;
	color: rgb(206,0,29) !important;
}
